.contact {
  position: relative;
  z-index: 2;
  padding: 40px 20px;
}
.contact__google-map {
  position: relative;
  overflow: hidden;
  margin: 0 -20px;
  height: 300px;
  padding-left: 30%;
}
.contact__info {
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
  background: #fff;
  @include main-font4();
  font-size: 20px;
  line-height: 30px;
  color: #0a0a16;
  text-align: center;
  letter-spacing: 2px;

  a {
    color: #0a0a16;
  }

  address {
    margin: 0 0 39px;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    @include main-font1();
    color: #818193;
    letter-spacing: 0;
  }

}

@media (min-width: $desktop) {

  .contact {
    padding: 40px;
    min-height: 500px;
  }
  .contact__google-map {
    position: absolute !important;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;

  }
  .contact__info {
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 2;
    padding: 70px 50px;
    margin: 0;
    font-size: 24px;
    line-height: 40px;
    text-align: left;

    address {
      font-size: 20px;
      line-height: 30px;
    }

  }

  .animate-block {

    .contact__info {
      opacity: 0;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: opacity 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
      transition: opacity 0.3s 0.3s, transform 0.3s 0.3s;
    }
    .contact__google-map {
      opacity: 0;
      -webkit-transition: opacity 0.3s 0.3s;
      transition: opacity 0.3s 0.3s;
    }

  }
  .animate-block_active {

    .contact__info {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    .contact__google-map {
      opacity: 1;
    }

  }

}
@media (min-width: $desktop-full) {

  .contact {
    min-height: 650px;
  }
  .contact__info {
    width: 840px;
    padding: 114px 50px 108px 280px;
  }

}

