.logo {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 20px;
  width: 200px;
  height: 50px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);

  img {
    display: block;
    width: 100%;
    height: auto;
  }

}
@media (min-width: $tablet-portrait) {
  .logo {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
@media (min-width: $desktop) {
  .logo {
    top: 50%;
    left: 20px;
    width: 277px;
    height: 69px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

