.main-slider {
  position: relative;
  height: 500px;
  //padding: 120px 0 40px;
  background: $main-slider-back;
  text-align: center;

  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include align-items(center);
  }
  .swiper-pagination  {
   display: none;
  }
}
.main-slider__slide {
  @include flexbox();
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include align-items(center);
  position: relative;
  width: 100%;
  height: 100%;
  background: $main-slider-back;

  .btn {
    position: absolute;
    left: 50%;
    bottom: 60px;
    margin-left: -100px;
  }

}
.main-slider__pic {
  max-width: 100%;
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  text-align: center;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;

  img, svg {
    opacity: 0;
    max-width: 300px;
    height: auto;
  }

  .move-down, .move-top{
    -webkit-transform: translateX( 0 ) translateY( 0 );
    transform: translateX( 0 ) translateY( 0 );
  }

}

@media (min-width: $tablet-landscape) {

  .main-slider {
    min-height: 600px;
    height: 100vh;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;

    .swiper-pagination  {
      z-index: 40;
      display: flex;
      align-items: center;
      width: auto;
      right: 59px;
      left: auto;
      bottom: 20px;
      top: auto;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .main-slider__pic {
      text-align: center;
    }
    .swiper-pagination__text {
      text-align: right;

      >span {
        position: relative;
        display: block;
        padding: 0 53px 0 0;
        margin: 0 0 1px;
        font-size: 17px;
        line-height: 17px;
        color: $swiper-pagination-text-color;
        @include main-font5();
        cursor: pointer;

        &:before,
        &:after {
          position: absolute;
          top: 50%;
          right: 0;
          width: 10px;
          height: 11px;
          background: url("../img/pagination-triangle.png") no-repeat;
          background-size: contain;
          content: '';
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          -webkit-transition: opacity 0.3s linear 0.3s, visibility 0.3s linear 0.3s;
          transition: opacity 0.3s linear 0.3s, visibility 0.3s linear 0.3s;
        }
        &:before {
          opacity: 0;
          visibility: hidden;
          z-index: 2;
          background: url("../img/pagination-triangle-active.png") no-repeat;
          background-size: contain;
        }
        &.active {

          &:before {
            opacity: 1;
            visibility: visible;
            -webkit-transform: translateY(-50%) rotate(360deg) translateX(-28px);
            transform: translateY(-50%) rotate(360deg) translateX(-28px);
          }
          &:after {
            width: 28px;
            height: 3px;
            background: $swiper-pagination-text-after-back;
          }
          >span {
            opacity: 1;
            visibility: visible;
          }

        }

        >span {
          opacity: 0;
          visibility: hidden;
          -webkit-transition: opacity 0.3s 0.3s, visibility 0.3s 0.3s;
          transition: opacity 0.3s 0.3s, visibility 0.3s 0.3s;
        }
      }
    }
  }
  .main-slider__slide {

    .btn {
      position: absolute;
      z-index: 1;
      bottom: auto;
      margin-left: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    img, svg {
      max-width: 90%;
    }

    &_1 {

      .img {

      }
      .btn {
        top: 50.9%;
        left: 67.5%
      }
    }
    &_2 {

      img {
        width: 100%;
        z-index: 4;
        top: 50% !important;
      }
      svg {
        z-index: 4;
        top: 50% !important;

        &:last-of-type {
          z-index: 0;
        }
      }
      .btn {
        z-index: 4;
        top: 46.2%;
        left: 63.1%;
      }
    }
    &_3 {

      img,
      svg {
        z-index: 1;
        width: 100%;
        top: 50% !important;
      }
      .btn {
        z-index: 0;
        left: 44%;
        bottom: 6%;
      }
    }
    &_4 {

      .btn {
        left: 50%;
        bottom: 6%;
      }
    }
  }

}
@media (min-width: $desktop) {

  .main-slider {
    background: $main-slider-back !important;

    img,
    svg {
      position: absolute;
      opacity: 1;
      left: 50%;
      top: 60%;
      transform: translate(-50%,-50%);
    }

    &__slide {
      padding: 185px 0 0;

      &_1 {

        .btn {
          top: 45.9%;
          left: 79.5%;
        }
        img {
          z-index: 3;
          top: 45.4%;
          left: 49.4%;
        }
      }
      &_2 {

        img,
        svg {
          width: 140%;
          max-width: none;
        }
        .btn {

          top: 52.5%;
          left: 59.7%;
        }
      }
      &_3 {

        .btn {
          left: 50%;
        }
      }
      &_4 {

        svg {
          top: 44.7%;
        }
        img {
          height: 88.6%;
          width: auto;
          top: 42%;
          left: 48%;
        }
        .btn {
          left: 51.9%;
          top: 64.6%;
          background: transparent;
        }
      }
    }

    .move-down,
    .move-top{
      -webkit-transform: translateX(  -50% ) translateY( -50% );
      transform: translateX(  -50% ) translateY(  -50% );
    }
  }
  .main-slider__pic {
    background: none !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: $desktop-wide) {

  .main-slider__slide {
    padding: 0 40px 0 0;

    img, svg {
      max-width: 100%;
    }
    &_1 {

      .btn {
        top: 45.9%;
        left: 73.6%;
      }
    }
    &_2 {
      padding: 0 0 5.2% 0;

      img,
      svg {
        max-width: none;
        width: 140%;
      }
      .btn {
        left: 63.5%;
        top: 54.5%;
      }
    }
    &_3 {
      padding: 0 0 7% 41px;

      .btn {
        top: auto;
        left: 50%;
        bottom: 16.7%;
      }
    }
    &_4 {

    }
  }
}

@media (min-width: $desktop-wide1) {

  .main-slider {

    .swiper-pagination  {
      display: flex;
      align-items: center;
      right: 59px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  .main-slider__slide {

    &_1 {

      .btn {
        left: 70.6%;
      }
    }
    &_2 {

      img,
      svg {
        width: 100%;
      }
    }
    &_3 {

    }
    &_4 {

    }
  }
}

@media (min-width: $desktop-full) {

  .main-slider {

    //.swiper-pagination  {
    //  bottom: auto;
    //  top: 38.2%;
    //
    //}
    &__slide {

      &_1 {

        .btn {
          left: 65.6%;
        }
      }
      &_2 {

        img {
          width: 100%;
          z-index: 1;
          top: 50% !important;
        }
        svg {
          z-index: 2;
          top: 50% !important;

          &:last-of-type {
            z-index: 0;
          }
        }
        .btn {
          z-index: 3;
          top: 53.7%;
          left: 59.7%;
        }
      }
      &_3 {

      }
      &_4 {

      }
    }
  }
}


