.preloader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background: $preloader-back;
}
.preloader > img {
  position: absolute;
  left: 50%;
  top: 40%;
  z-index: 3;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.preloader_loaded > img,
.preloader_loaded > div{
  opacity: 0;
}
.preloader__points {
  overflow: hidden;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-left: -35px;
  height: 50px;
  width: 70px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);

  span {
    overflow: hidden;
    opacity: 1;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
    width: 16px;
    height: 16px;
    background: $preloader-points-back;
    border: 2px solid $preloader-points-border-color;
    border-radius: 16px;
    text-indent: -9999px;
    -webkit-transform: translate3d(60px, 0, 0);
    transform: translate3d(60px, 0, 0);

    &:nth-child(1) {
      -webkit-animation: google 1.75s ease-in-out infinite;
      animation: google 1.75s ease-in-out infinite;
    }
    &:nth-child(2) {
      -webkit-animation: google 1.75s ease-in-out infinite 0.3s;
      animation: google 1.75s ease-in-out infinite 0.3s;
    }
    &:nth-child(3) {
      -webkit-animation: google 1.75s ease-in-out infinite 0.6s;
      animation: google 1.75s ease-in-out infinite 0.6s;
    }

  }

}

@-webkit-keyframes google {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(60px, 0, 0);
    transform: translate3d(60px, 0, 0);
  }
  30% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  70% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
  }
}
@keyframes google {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(60px, 0, 0);
    transform: translate3d(60px, 0, 0);
  }
  30% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  70% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
  }
}


